<!DOCTYPE html>
<html>
<head>
    <% include ../common/head %>
    <link rel="stylesheet" href="/styles/basicsearchresults.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG8XdsI0xYqPvnPX7C8S2oTm2eXg169hQ&libraries=places"></script>
</head>
<body>
<div class="container header-container">
    <% include ../common/header %>
</div>
<!-- End Header-Container -->
<div class="container-fluid page-content">
    <div class="row row-border">
        <div class="col-xs-6 center border-right" id="listBtn">Item View</div>
        <div class="col-xs-6 center border-left" id="mapBtn">Map View</div>

    </div>
    <div id="mapView" style="display:none;" height="200px" width="300px">
        <button id="geoBtn" onclick="geoFindMe()">Click Me!</button>
    </div>

    <div id="listView">
        <div class="col-md-12">
            <hr>
        </div>
        <% result.forEach(function(menuitem, index) { %>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-9">
                                <p> Item Name: <%= menuitem.menus.entries.items.entries.items.name %></p>
                            </div>
                            <div class="col-md-3">
                                <p>Price: $ <%= menuitem.menus.entries.items.entries.items.price %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Restaurant Name: <%= menuitem.name %></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>Description: <%= menuitem.menus.entries.items.entries.items.description %></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="http://placehold.it/1000x500">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form action="/menuitems/<%= menuitem.menus.entries.items.entries.items.entryId %>"
                              method="POST">
                            <input type="text" value="<%= menuitem.menus.entries.items.entries.items.entryId %>"/>
                            <button type="submit" class="btn"> View This Dish!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <% }) %>
    </div>
</div>

<div id="footer">
    <% include ../common/footer %>
</div>
<% include ../common/foot %>
<script>
    $('#mapBtn').on('click', function () {
        $('#mapView').show();
        $('#listView').hide();
    });
    $('#listBtn').on('click', function () {
        $('#listView').show();
        $('#mapView').hide();
    });
    function geoFindMe() {
        var output = document.getElementById("mapView");
        if (!navigator.geolocation) {
            output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
            return;
        }
        function success(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            output.innerHTML = '<p>Latitude is ' + latitude + '° <br>Longitude is ' + longitude + '°</p>';
            var img = new Image();
            img.src = "https://maps.googleapis.com/maps/api/staticmap?size=500x200&maptype=roadmap&markers=color:blue%7Clabel:S%7C" + latitude + "," + longitude + "&key=AIzaSyCG8XdsI0xYqPvnPX7C8S2oTm2eXg169hQ";
            output.appendChild(img);
        }

        function error() {
            output.innerHTML = "Unable to retrieve your location";
        }

        output.innerHTML = "<p>Locating…</p>";
        navigator.geolocation.getCurrentPosition(success, error);
    }
</script>
</body>
</html>
