<!-- NEED TO ADD A DATA-TARGET TO TOGGLE THIS-->
<div class="expert-form-<%=food.foodId%> sub-section init-hide">
	<div class="row">
		<p class="col col-xs-4 col-xs-offset-8 text-na">N/A</p>
	</div>
	<!-- SWEET -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Sweet</p>
		<div class='col col-xs-6'>
			<div class="row">
				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name="sweet"  type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_sweet_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- SALTY -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Salty</p>

		<div class='col col-xs-6'>
			<div class="row">

				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name="salty"  type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_salty_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- SAVORY -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Savory</p>

		<div class='col col-xs-6'>
			<div class="row">


				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name='savory' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_savory_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- BITTER -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Bitter</p>

		<div class='col col-xs-6'>
			<div class="row">


				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name='bitter' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_bitter_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- SOUR -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Sour</p>

		<div class='col col-xs-6'>
			<div class="row">


				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name='sour' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_sour_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- SPICY -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Spicy</p>

		<div class='col col-xs-6'>
			<div class="row">


				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name='spicy' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_spicy_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- PRESENTATION -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Presentation</p>

		<div class='col col-xs-6'>
			<div class="row">


				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name='presentation' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_presentation_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- HEALTHY -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Healthy</p>

		<div class='col col-xs-6'>
			<div class="row">


				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-8 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<input class="flat-slider" name='healthy' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
				</div>

				<div class='col col-xs-4'>
					<input name="<%=food.foodId%>_healthy_na" type="checkbox">
				</div>

			</div>
		</div>
	</div>

	<!-- QUANTITY -->
	<div id='expert' class='row'>
		<p class='col col-xs-6'>Quantity</p>

		<div class='col col-xs-6'>
			<div class="row">


				<!-- the slider generates a whole new div above the input tag so i gotta house it in parent div -->
				<div class="col col-xs-12 pad-right-0">
					<!-- you can remove the right padding from this parent's div to make it look better -->
					<!-- make the width arbitrarily large so it simulates width: 100% -->
					<input class="flat-slider" style="width: 1000px" name='quantity' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" />
					<div class="text-quantities row">
						<p class="col col-xs-4 selected">tiny portion</p>
						<p class="col col-xs-4 text-center selected">medium portion</p>
						<p class="col col-xs-4 text-right selected">2+ meals</p>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- PORTION SIZE -->

	<script>
	// NEED TO MAKE THIS MORE SPECIFIC TO THE DISH as to not to affect other plates
	// $('.portion-size > div').click(function(e) {
	// 	if ($(this).hasClass('selected')) return;

	// 	// get the dishID from something like data-dish-id ($(this).data('dish-id'))
	// 	var options = $('.portion-size > div'); // .portion-size[data=dishId] > div
	// 	options.each(function(index, option) {
	// 		if ($(option).hasClass('selected')) {
	// 			$(option).removeClass('selected').addClass('unselected');
	// 		}
	// 	})
	// 	$(this).removeClass('unselected').addClass('selected');
	// });
	</script>
</div>
