<div class="panel-group material_accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="row accord" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Menu Item and Dietary Preference
            </a>
        </h4>
    </div>
</div>
<div id="collapseOne" class="panel-collapse collapse material_accordion_collapse menu_item_style " role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        <div class="container">
            <div class="row padToCenter">
                    <div class="col-xs-4">
                        <p>Vegan?</p>
                    </div>
                    <div class="col-xs-8">
                        <select id="vegan-option" name="veganOption">
                            <option name="Please Select" value="vegan_value">Please Select</option>
                                <%
                                var sel;
                                var options = miOptions.options;
                                sel         = miOptions.selectValue[0];
                                for (var i = 0; i < options.length; i++)
                                {
                                  var selected = ( sel == options[i] ) ? "selected=selected" : "";
                              %>
                                    <option name = "<%=options[i]%>" selected="selected" value="<%=options[ i ] %>" <%=selected %> >
                                        <%=options[i] %>
                                    </option>
                                    <%
                                }
                                %>
                        </select>
                    </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Vegetarian?</p>
                </div>
                <div class="col-xs-8">
                    <select id="vegetarian-option" name="vegetarianOption">
                        <option name="Please Select" value="vegetarian_value"> Please Select </option>
                        <%
                          var sel;
                          var options = miOptions.options;
                          sel  = miOptions.selectValue[1];
                          for (var i = 0; i < options.length; i++)
                          {
                            var selected = (sel == options[i])? "selected=selected" : "";
                        %>
                            <option name = "<%=options[i]%>" value="<%=options[i]%>" <%=selected%> >
                                <%=options[i]%>
                            </option>
                            <%      
                          }
                          %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Raw-Vegan?</p>
                </div>
                <div class="col-xs-8">
                    <select id="raw-vegan-option" name="rawVeganOption">
                        <option selected value="raw-vegan_value"> Please Select </option>
                        <% 
                          var sel;
                          var options = miOptions.options;
                          sel = miOptions.selectValue[2];
                          for(var i = 0; i < options.length; i++)
                          {
                            var selected = (sel == options[i])? "selected=selected": "";
                        %>
                            <option value="<%=options[i]%>" <%=selected%> >
                                <%=options[i]%>
                            </option>
                            <%      
                          }
                         %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Pescatarian?</p>
                </div>
                <div class="col-xs-8">
                    <select id="pescatarian-option" name="pescatarianOption">
                        <option selected value="pescretian_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel      = miOptions.selectValue[3];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Gluten-Free?</p>
                </div>
                <div class="col-xs-8">
                    <select id="gluten-free-option" name="glutenFreeOption">
                        <option selected value="gluten-free_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel      = miOptions.selectValue[4];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Diabetic?</p>
                </div>
                <div class="col-xs-8">
                    <select id="diabetic-option" name="diabeticOption">
                        <option selected value="diabetic_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel         = miOptions.selectValue[5];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Lactose-Free?</p>
                </div>
                <div class="col-xs-8">
                    <select id="lactose-free-option" name="lactoseFreeOption">
                        <option selected value="lactose-free_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel      = miOptions.selectValue[6];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Low-Carb?</p>
                </div>
                <div class="col-xs-8">
                    <select id="low-carb-option" name="lowCarbOption">
                        <option selected value="low-carb_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel      = miOptions.selectValue[7];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Kosher?</p>
                </div>
                <div class="col-xs-8">
                    <select id="kosher-option" name="kosherOption">
                        <option selected value="kosher_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel      = miOptions.selectValue[8];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Halal?</p>
                </div>
                <div class="col-xs-8">
                    <select id="halal-option" name="halalOption">
                        <option selected value="halal_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel         = miOptions.selectValue[9];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Paleo?</p>
                </div>
                <div class="col-xs-8">
                    <select id="paleo-option" name="paleoOption">
                        <option selected value=""> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel      = miOptions.selectValue[10];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>High-Protein?</p>
                </div>
                <div class="col-xs-8">
                    <select id="high-protein-option" name="highProteinOption">
                        <option selected value="high-protein_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel         = miOptions.selectValue[11];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Nut-Free?</p>
                </div>
                <div class="col-xs-8">
                    <select id="nut-free-option" name="nutFreeOption">
                        <option selected value="nut-free_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel      = miOptions.selectValue[12];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>High-Fiber?</p>
                </div>
                <div class="col-xs-8">
                    <select id="high-fiber-option" name="highFiberOption">
                        <option selected value="high-fiber_option"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel         = miOptions.selectValue[13];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div>
            <div class="row padToCenter">
                <div class="col-xs-4">
                    <p>Low/No Sodium?</p>
                </div>
                <div class="col-xs-8">
                    <select id="low-no-sodium-option" name="lowNoSodiumOption">
                        <option selected value="low-no-sodium_value"> Please Select </option>
                        <%
                            var sel;
                            var options = miOptions.options;
                            sel         = miOptions.selectValue[14];
                            for ( var i = 0; i < options.length; i++ )
                            {
                              var selected = ( sel == options[i] ) ? "selected=selected" : "";
                          %>
                            <option value="<%=options[ i ] %>" <%=selected %> >
                                <%=options[i] %>
                            </option>
                            <%
                            }
                            %>
                    </select>
                </div>
            </div> 
        </div>
    </div>
    <!-- panel-body-->
</div>
<!--collapse One-->
